@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --chart-1: 0deg 100% 50%;
}

body {
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.mood-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ff4136;
  cursor: pointer;
}

.mood-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ff4136;
  cursor: pointer;
}

.text-shadow-glow {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.shadow-glow {
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}

